label {
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    display: block;
    border: 1px solid darkgrey;
}

input[type="checkbox"] {
    width: initial;
    display: block;
    border: 1px solid darkgrey;
}

p {
    margin-top: 0;
}

button {
    min-width: 150px;
    margin-right: 20px;
}

.form-group {
    width: 318px;
    margin-bottom: 15px;
}

.form-group.-inline {
    display: inline-block;
    width: initial;
}

.form-group.-has-error input {
    border-color: #a94442;
}

.form-group.-has-error label {
    color: #a94442;
}

.form-group.-checkbox label {
    width: initial;
}

.form-group.-checkbox input {
    display: initial;
}

.form-group .help-block {
    width: 100%;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-group.-has-error .help-block {
    color: #a94442;
}

table {
    width: 400px;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid gray;
}

button {
    min-width: 150px;
}

span + button {
    margin-left: 20px;
}

.list {
    width: 450px;
    display: inline-block;
    margin-right: 100px;
    vertical-align: top;
}

.table-row > * {
    width: 150px;
    display: inline-block;
}